*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

hr {
  width: 5rem;
  background-color: #00a6eb;
  margin: auto;
  height: 4px;
  border: none;
  border-radius: 1rem;
}

.heading__primary {
  font-family: "Open Sans", sans-serif;
  font-size: 8rem;
  color: #002041;
}

.u-page-padding {
  padding: 0 16rem;
}

.u-margin-bottom-3 {
  margin-bottom: 3rem;
}

.u-margin-bottom-20 {
  margin-bottom: 20rem;
}

.u-margin-top-14 {
  margin-top: 14rem;
}

.btn {
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
  padding: 1rem 4rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.1s;
}

.btn--white {
  color: #fff;
  border: 1.4px solid #fff;
}

.btn--white:hover {
  background-color: #fff;
  color: #0048d5;
}

.btn--blue {
  color: #00a6eb;
  border: 1.4px solid #00a6eb;
}

.btn--blue:hover {
  background-color: #00a6eb;
  color: #fff;
}

/*! lightslider - v1.1.6 - 2016-10-25
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2016 Sachin N; Licensed MIT */
/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/
.slider {
  overflow: hidden;
}

.slider div {
  display: flex;
  justify-content: center;
  width: auto;
}

.slider img {
  width: 431px;
  flex-shrink: 0;
  cursor: grab;
}

@media screen and (max-width: 414px) {
  .slider img {
    width: 231px;
  }
}

#slider_images {
  transition: all 1.0s ease-in-out;
}

.dots {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

.dots span {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  background-color: #e2f1ff;
  margin: 8px;
}

@media screen and (max-width: 414px) {
  .dots span {
    width: 15px;
    height: 15px;
  }
}

.dots .active,
.dots span:hover {
  background-color: #002041;
  cursor: grab;
}

.facts-section__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.facts-section__title {
  color: #00a6eb;
  font-size: 6rem;
  font-weight: 700;
}

.facts-section__subtitle {
  font-size: 5rem;
  font-weight: 400;
  color: #002041;
  margin-bottom: 4rem;
}

.facts-section__paragraph {
  font-size: 2.5rem;
  color: #002041;
  font-weight: 300;
}

.bullet {
  color: #22a2dc;
  font-weight: 400;
}

.facts {
  display: flex;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  justify-content: space-between;
  padding: 12rem 5rem 16rem;
}

.fact {
  flex-basis: 18rem;
}

.fact__icon {
  margin-bottom: 2rem;
  width: 11rem;
  height: 11rem;
}

.fact__percent {
  font-size: 5rem;
  font-weight: 700;
}

.fact__text {
  font-size: 3rem;
  font-weight: 400;
}

.footer {
  background-color: #002041;
  padding-top: 4.5rem;
  position: relative;
}

.footer__logo {
  display: block;
  margin: auto;
  margin-bottom: 5rem;
}

.info-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #0079b2;
  border-bottom: 1px solid #003a62;
  padding: 6rem 28rem;
}

.info {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}

.info__icon {
  margin-right: 3rem;
}

.info__text--top {
  font-size: 1.8rem;
}

.info__text--bottom {
  font-size: 1.4rem;
  color: #00a6eb;
  cursor: pointer;
}

.copyright {
  padding: 3rem 28rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 1.3rem;
}

.copyright__icons {
  font-size: 3rem;
}

.copyright__icons__icon {
  transition: all 0.1s;
  cursor: pointer;
}

.copyright__icons__icon:not(:last-child) {
  margin-right: 1rem;
}

.copyright__icons__icon:last-child {
  margin-right: 3rem;
}

.copyright__icons__icon:hover {
  color: #00a6eb;
}

.top-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}

/* BACKGROUND IMAGE */
body {
  background: url("../images/bg.png") no-repeat;
  background-position: 100%;
  background-size: 150%;
  background-position: top 0 right 0;
  background-size: 116rem;
}

.header {
  padding-top: 5rem;
  background: url("../images/header_graphic.png") no-repeat;
  background-position: top 23rem right 14rem;
}

.header__text {
  width: 65rem;
  margin: 23rem 0;
}

.header__text--blue {
  color: #00a6eb;
}

.cta-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  background-image: linear-gradient(to right, #0048d5, #019fe4);
  text-align: center;
  padding: 2rem 4.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.cta-btn:hover {
  background-image: linear-gradient(to left, #0048d5, #019fe4);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__list {
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}

.navigation__item {
  display: inline-block;
}

.navigation__item:not(:last-child) {
  margin-right: 5rem;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
}

.navigation__link:hover {
  border-bottom: 0.6rem solid #89aeeb;
}

.navigation__link--active {
  border-bottom: 0.6rem solid #89aeeb;
}

.news-section {
  margin: 10rem 0 12rem;
}

.news-section__title {
  font-family: "Open Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8rem;
}

.box-container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 48rem;
  font-family: "Open Sans", sans-serif;
  color: #002041;
  padding: 4.5rem 4rem 3rem;
  box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.15);
  flex: 1 0 0%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.box:not(:last-child) {
  margin-right: 3rem;
}

.box__header {
  display: flex;
  margin-bottom: 3rem;
  flex-shrink: 0;
  flex: 1 1 auto;
}

.box__header__date {
  color: #00a6eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  margin-right: 3rem;
}

.box__header__date--number {
  font-size: 4.8rem;
  font-weight: 700;
}

.box__header__date--month {
  font-size: 2.4rem;
}

.box__header__title {
  font-weight: 700;
  font-size: 2.7rem;
}

.box__text {
  font-size: 1.8rem;
  color: #737373;
  margin-bottom: 3rem;
  flex: 1 1 auto;
}

.box__footer {
  display: flex;
  justify-content: space-between;
}

.box__footer__item {
  display: flex;
}

.box__footer__item__icon {
  flex: 1;
  margin-right: 0.5rem;
  cursor: pointer;
}

.box__footer__item__icon:hover {
  transform: scale(1.2);
}

.box__footer__item__name {
  font-size: 1.4rem;
  color: #a5a5a5;
  flex-shrink: 0;
}

.services-section {
  margin-bottom: 23rem;
}

.services-section__title {
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: #002041;
  text-align: center;
  margin-bottom: 4.5rem;
  margin-top: 2rem;
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin: 0 6rem;
  }
  .card-deck .card {
    flex: 1 0 0%;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-image: linear-gradient(to bottom right, #56c9f4, #574afd);
  padding: 4rem 6rem 4.5rem;
  box-shadow: 0.5rem 0.8rem 1rem rgba(0, 0, 0, 0.4);
}

.card:not(:last-child) {
  margin-right: 5rem;
}

.card__img {
  flex-shrink: 0;
  width: max-content;
  margin: auto;
}

.card__body {
  flex: 1 1 auto;
}

.card__title {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}

.card__text {
  font-family: "Hind Guntur", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
}

.card__footer {
  margin: auto;
  margin-top: 4rem;
}

.section-showcase {
  position: relative;
}

.section-showcase__title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  color: #002041;
}

.section-showcase__paragraph {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.section-showcase__bg {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 11rem;
}

.showcase {
  margin: 11rem 0 28rem;
  display: flex;
  justify-content: space-between;
}

.showcase__image {
  position: relative;
  margin-right: 18rem;
  margin-left: 12rem;
}

.showcase__title {
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: #002041;
  margin-left: 7rem;
}

.showcase__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  color: #00a6eb;
  margin-bottom: 5rem;
  margin-left: 7rem;
}

.showcase__plan__text {
  font-family: "Hind Guntur", sans-serif;
  color: #002041;
  margin: 0 4rem 4rem 7rem;
}

.showcase__plan__title {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.showcase__plan__paragraph {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
}

.showcase__plan__icon {
  float: left;
  position: relative;
  top: 2.3rem;
}

.showcase__btn-container {
  margin-left: 7rem;
}
