@charset "UTF-8";
/*

0 - 600px:  Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
(1200-1800) is where our normal styles apply
1800px + : Big desktop

1625px = 101,56em
1580 = 98,75em
1500px = 93,75‬em
1450px = 90,62px
1370px = 85,625‬em
1270px = 79.375em
1200px = 75em
1100px =  68.75em
1000px = 62.5em
900px = 56.25em
800px = 50em


*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 85.625em) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 79.375em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 50.5em) {
  html {
    font-size: 40%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  width: 5rem;
  background-color: #00a6eb;
  margin: auto;
  height: 4px;
  border: none;
  border-radius: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.u-page-padding {
  padding: 0 16rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 93.75em) {
  .u-page-padding {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .u-page-padding {
    padding: 0 5rem;
  }
}

.u-margin-bottom-3 {
  margin-bottom: 3rem;
}

.u-margin-bottom-20 {
  margin-bottom: 20rem;
}

.u-margin-top-14 {
  margin-top: 14rem;
}

.cta-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#0048d5), to(#019fe4));
  background-image: linear-gradient(to right, #0048d5, #019fe4);
  text-align: center;
  padding: 2rem 4.5rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

.cta-btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#0048d5), to(#019fe4));
  background-image: linear-gradient(to left, #0048d5, #019fe4);
}

@media only screen and (max-width: 50.5em) {
  .cta-btn {
    padding: 1.5rem 4rem;
  }
}

.btn {
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
  padding: 1rem 4rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.btn--white {
  color: #fff;
  border: 1.4px solid #fff;
}

.btn--white:hover {
  background-color: #fff;
  color: #0048d5;
}

.btn--blue {
  color: #00a6eb;
  border: 1.4px solid #00a6eb;
}

.btn--blue:hover {
  background-color: #00a6eb;
  color: #fff;
}

/*! lightslider - v1.1.6 - 2016-10-25
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2016 Sachin N; Licensed MIT */
/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/
.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lightSlider:before,
.lightSlider:after {
  content: " ";
  display: table;
}

.lightSlider {
  overflow: hidden;
  margin: 0;
}

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.lSSlideWrapper > .lightSlider:after {
  clear: both;
}

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform, height;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade {
  position: relative;
}

.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%;
}

.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade > *.active {
  z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1;
}

/** /!!! End of core css Should not edit !!!/**/
/* Pager */
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #e2f1ff;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.lSSlideOuter .lSPager.lSpg > li:hover a,
.lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #002041;
}

.lSSlideOuter .media {
  opacity: 0.8;
}

.lSSlideOuter .media.active {
  opacity: 1;
}

/* End of pager */
/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
  transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px;
}

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery:before,
.lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table;
}

.lSSlideOuter .lSPager.lSGallery:after {
  clear: both;
}

/* End of Gallery*/
/* slider actions */
.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url("../img/controls.png");
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}

.lSAction > a:hover {
  opacity: 1;
}

.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px;
}

.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px;
}

.lSAction > a.disabled {
  pointer-events: none;
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

/* vertical */
.lSSlideOuter.vertical {
  position: relative;
}

.lSSlideOuter.vertical.noPager {
  padding-right: 0px !important;
}

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0;
}

.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0;
}

.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto;
}

.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px;
}

/* vertical */
/* Rtl */
.lSSlideOuter.lSrtl {
  direction: rtl;
}

.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}

.lSSlideOuter.lSrtl .lightSlider,
.lSSlideOuter.lSrtl .lSPager {
  padding-right: 0;
}

.lSSlideOuter .lightSlider > *,
.lSSlideOuter .lSGallery li {
  float: left;
}

.lSSlideOuter.lSrtl .lightSlider > *,
.lSSlideOuter.lSrtl .lSGallery li {
  float: right !important;
}

/* Rtl */
@-webkit-keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}

@keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}

@keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}

@keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}

.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative;
}

.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative;
}

.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

/* .lslide {
  margin-right: 0 !important;
  width: auto !important;
} */
.facts-section__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.facts-section__title {
  color: #00a6eb;
  font-size: 6rem;
  font-weight: 700;
}

.facts-section__subtitle {
  font-size: 5rem;
  font-weight: 400;
  color: #002041;
  margin-bottom: 4rem;
}

.facts-section__paragraph {
  font-size: 2.5rem;
  color: #002041;
  font-weight: 300;
}

.bullet {
  color: #22a2dc;
  font-weight: 400;
}

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12rem 5rem 16rem;
}

.fact {
  -ms-flex-preferred-size: 18rem;
      flex-basis: 18rem;
}

.fact__icon {
  margin-bottom: 2rem;
  width: 11rem;
  height: 11rem;
}

.fact__percent {
  font-size: 5rem;
  font-weight: 700;
}

.fact__percent::after {
  content: "%";
}

.fact__text {
  font-size: 3rem;
  font-weight: 400;
}

.footer {
  background-color: #002041;
  padding-top: 4.5rem;
  position: relative;
}

.footer__logo {
  display: block;
  margin: auto;
  margin-bottom: 5rem;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #0079b2;
  border-bottom: 1px solid #003a62;
  padding: 6rem 28rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 93.75em) {
  .info-container {
    padding: 3rem 15rem;
  }
}

.info {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__icon {
  margin-right: 3rem;
}

.info__text--top {
  font-size: 1.8rem;
}

.info__text--bottom {
  font-size: 1.4rem;
  color: #00a6eb;
  cursor: pointer;
}

.copyright {
  padding: 3rem 28rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 93.75em) {
  .copyright {
    padding: 3rem 16rem;
  }
}

.copyright__text {
  font-size: 1.3rem;
}

.copyright__icons {
  font-size: 3rem;
}

.copyright__icons__icon {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

.copyright__icons__icon:not(:last-child) {
  margin-right: 1rem;
}

.copyright__icons__icon:last-child {
  margin-right: 3rem;
}

.copyright__icons__icon:hover {
  color: #00a6eb;
}

.top-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top-arrow img {
  display: block;
}

/* BACKGROUND IMAGE */
body {
  background: url("../images/bg.png") no-repeat;
  background-position: 100%;
  background-size: 150%;
  background-position: top 0 right -2rem;
  background-size: 116rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 85.625em) {
  body {
    background-size: 110rem;
  }
}

@media only screen and (max-width: 75em) {
  body {
    background-size: 100rem;
  }
}

@media only screen and (max-width: 50.5em) {
  body {
    background-size: 85rem;
  }
}

.header {
  padding-top: 5rem;
}

.header__text {
  width: 65rem;
  margin: 23rem 0;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

.header__text--blue {
  color: #00a6eb;
}

@media only screen and (max-width: 50.5em) {
  .header__text {
    margin: 19rem 0;
  }
}

@media only screen and (max-width: 85.625em) {
  .header__text {
    width: 56rem;
  }
}

.header__title {
  font-family: "Open Sans", sans-serif;
  font-size: 8rem;
  color: #002041;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 98.75em) {
  .header__title {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 93.75em) {
  .header__title {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 85.625em) {
  .header__title {
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 85.625em) {
  .header__title {
    font-size: 4.5rem;
  }
}

.header__text-hide {
  margin-top: 0;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 3.5rem;
  color: #003a62;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.nav-toggle:hover {
  color: #0079b2;
}

.logo {
  height: 40px;
}

.links {
  height: 0;
  overflow: hidden;
}

.links a {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 1rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 50.5em) {
  .links a {
    color: #00a6eb;
  }
}

.links a:hover {
  background: #00a6eb;
  color: #fff;
  padding-left: 1.5rem;
}

.links li:not(:last-child) {
  margin-right: 5rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 50.5em) {
  .links li:not(:last-child) {
    margin-right: 0;
  }
}

/* TOGGLE CLASS */
.show-links {
  height: 19rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 50.5em) {
  .show-links {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 801px) {
  .nav-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

.news-section {
  margin: 10rem 0 12rem;
}

.news-section__title {
  font-family: "Open Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8rem;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 50.5em) {
  .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.box {
  width: 48rem;
  font-family: "Open Sans", sans-serif;
  color: #002041;
  padding: 4.5rem 4rem 3rem;
  -webkit-box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.15);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 75em) {
  .box {
    padding: 3rem 2rem 3rem;
  }
}

.box:not(:last-child) {
  margin-right: 3rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 50.5em) {
  .box:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.box__header__date {
  color: #00a6eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  margin-right: 3rem;
}

.box__header__date--number {
  font-size: 4.8rem;
  font-weight: 700;
}

.box__header__date--month {
  font-size: 2.4rem;
}

.box__header__title {
  font-weight: 700;
  font-size: 2.7rem;
}

.box__text {
  font-size: 1.8rem;
  color: #737373;
  margin-bottom: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box__footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box__footer__item__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.5rem;
  cursor: pointer;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 56.25em) {
  .box__footer__item__icon {
    width: 1rem;
  }
}

.box__footer__item__icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.box__footer__item__name {
  font-size: 1.4rem;
  color: #a5a5a5;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.services-section {
  margin-bottom: 23rem;
}

.services-section__title {
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: #002041;
  text-align: center;
  margin: 2rem 0 4.5rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 85.625em) {
  .services-section__title {
    margin: 4rem 0 5.5rem;
  }
}

.card-deck {
  isplay: -ms-flexbox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  margin: 0 6rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 85.625em) {
  .card-deck {
    margin: 0;
  }
}

@media only screen and (max-width: 50.5em) {
  .card-deck {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.card-deck .card {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  -ms-flex: 1 0 0%;
  -webkit-box-flex: 1;
          flex: 1 0 0%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#56c9f4), to(#574afd));
  background-image: linear-gradient(to bottom right, #56c9f4, #574afd);
  padding: 4rem 6rem 4.5rem;
  -webkit-box-shadow: 0.5rem 0.8rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.5rem 0.8rem 1rem rgba(0, 0, 0, 0.4);
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 79.375em) {
  .card-deck .card {
    padding: 4rem 4rem 4.5rem;
  }
}

@media only screen and (max-width: 50.5em) {
  .card-deck .card {
    width: 50%;
  }
}

.card-deck .card:not(:last-child) {
  margin-right: 5rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 50.5em) {
  .card-deck .card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}

.card-deck .card__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  margin: auto;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 50.5em) {
  .card-deck .card__img {
    width: inherit;
  }
}

.card-deck .card__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-deck .card__title {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}

.card-deck .card__text {
  font-family: "Hind Guntur", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
}

.card-deck .card__footer {
  margin: auto;
  margin-top: 4rem;
}

.section-showcase__title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  color: #002041;
}

.section-showcase__paragraph {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.showcase {
  margin: 6rem 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showcase__image {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 93.75em) {
  .showcase__image {
    position: relative;
    right: 6rem;
  }
}

.showcase__iphones {
  width: 100%;
}

.showcase__text {
  padding-right: 16rem;
  padding-top: 8rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 93.75em) {
  .showcase__text {
    padding-right: 10rem;
  }
}

@media only screen and (max-width: 68.75em) {
  .showcase__text {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .showcase__text {
    padding-right: 5rem;
  }
}

.showcase__title {
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: #002041;
  margin-left: 7rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 98.75em) {
  .showcase__title {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 75em) {
  .showcase__title {
    margin-left: 0;
  }
}

.showcase__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  color: #00a6eb;
  margin-bottom: 5rem;
  margin-left: 7rem;
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
  /* @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } */
}

@media only screen and (max-width: 98.75em) {
  .showcase__subtitle {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 75em) {
  .showcase__subtitle {
    margin-left: 0;
  }
}

.showcase__plan__text {
  font-family: "Hind Guntur", sans-serif;
  color: #002041;
  margin: 0 4rem 4rem 7rem;
}

.showcase__plan__title {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.showcase__plan__paragraph {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
}

.showcase__plan__icon {
  float: left;
  position: relative;
  top: 2.3rem;
  width: 4rem;
}

.showcase__btn-container {
  margin-left: 7rem;
}
