.footer {
  background-color: $col-black;
  padding-top: 4.5rem;
  position: relative;
  &__logo {
    display: block;
    margin: auto;
    margin-bottom: 5rem;
  }
}

.info-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $col-primary-6;
  border-bottom: 1px solid $col-primary-7;
  padding: 6rem 28rem;
}

.info {
  color: $col-white;
  font-family: $font-primary;
  display: flex;
  align-items: center;
  &__icon {
    margin-right: 3rem;
    &__img {
    }
  }
  &__text {
    &--top {
      font-size: 1.8rem;
    }
    &--bottom {
      font-size: 1.4rem;
      color: $col-primary-1;
      cursor: pointer;
    }
  }
}

.copyright {
  padding: 3rem 28rem;
  color: $col-white;
  font-family: $font-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    font-size: 1.3rem;
  }
  &__icons {
    font-size: 3rem;
    &__icon {
      transition: all 0.1s;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:last-child {
        margin-right: 3rem;
      }
      &:hover {
        color: $col-primary-1;
      }
    }
  }
}

.top-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}
