.footer {
  background-color: $col-black;
  padding-top: 4.5rem;
  position: relative;
  &__logo {
    display: block;
    margin: auto;
    margin-bottom: 5rem;
  }
}

.info-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $col-primary-6;
  border-bottom: 1px solid $col-primary-7;
  padding: 6rem 28rem;

  @include respond(1500px) {
    padding: 3rem 15rem;
  }
  @include respond(700px) {
    padding: 3rem 5rem;
  }
  @include respond(600px) {
    flex-direction: column;
  }
}

.info {
  color: $col-white;
  font-family: $font-primary;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    @include respond(600px) {
      margin-bottom: 2rem;
    }
  }

  &__icon {
    margin-right: 3rem;

    @include respond(600px) {
      margin-right: 0;
      width: 7rem;
    }
    &__img {
      @include respond(600px) {
        width: 50%;
      }
    }
  }
  &__text {
    &--top {
      font-size: 1.8rem;
      @include respond(600px) {
        font-size: 2rem;
      }
    }
    &--bottom {
      font-size: 1.4rem;
      color: $col-primary-1;
      cursor: pointer;
      @include respond(600px) {
        font-size: 1.6rem;
      }
    }
  }
}

.copyright {
  padding: 3rem 28rem;
  color: $col-white;
  font-family: $font-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(1500px) {
    padding: 3rem 16rem;
  }
  @include respond(700px) {
    padding: 3rem 6rem;
  }
  @include respond(400px) {
    flex-direction: column-reverse;
  }

  &__text {
    font-size: 1.3rem;
    @include respond(600px) {
      font-size: 1.6rem;
      width: 15rem;
    }
    @include respond(400px) {
      width: auto;
      margin: 3rem 0 5rem;
    }
  }
  &__icons {
    font-size: 3rem;
    &__icon {
      transition: all 0.1s;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:last-child {
        margin-right: 3rem;
        @include respond(400px) {
          margin-right: 0;
        }
      }
      &:hover {
        color: $col-primary-1;
      }
    }
  }
}

.top-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);

  img {
    display: block;
    width: 15rem;
    @include respond(600px) {
      width: 12rem;
    }
  }
}
