/* BACKGROUND IMAGE */
body {
  background: url("../images/bg.png") no-repeat;
  background-position: 100%;
  background-size: 150%;
  background-position: top 0 right -2rem;
  background-size: 116rem;

  @include respond(1370px) {
    background-size: 110rem;
  }

  @include respond(1200px) {
    background-size: 100rem;
  }

  @include respond(800px) {
    background-size: 85rem;
  }

  @include respond(700px) {
    background-size: 65rem;
  }

  @include respond(500px) {
    background: url("../images/bg-mobile.png") no-repeat;
    background-position: 100%;
    background-size: 150%;
    background-position: top -4.5rem right -2rem;
    background-size: 90rem;
  }
  @include respond(400px) {
    background-position: top -9rem right -7rem;
  }
  @include respond(280px) {
    background-position: top -9rem right -12rem;
  }
}
///////

.header {
  padding-top: 5rem;
  padding-bottom: 23rem;

  @include respond(700px) {
    padding-bottom: 10rem;
  }
  @include respond(500px) {
    background: rgba(255, 255, 255, 0.5);
  }
  @include respond(400px) {
    padding-top: 1rem;
  }

  &__text {
    width: 65rem;
    margin-top: 23rem;

    @include respond(1370px) {
      width: 56rem;
    }
    @include respond(800px) {
      margin-top: 19.5rem;
    }
    @include respond(500px) {
      width: 100%;
      text-align: center;
    }
    &--blue {
      color: $col-primary-1;
    }
  }

  &__title {
    font-family: $font-primary;
    font-size: 8rem;
    color: $col-black;

    @include respond(1580px) {
      font-size: 7rem;
    }
    @include respond(1500px) {
      font-size: 6rem;
    }
    @include respond(1370px) {
      font-size: 5.5rem;
    }
    @include respond(800px) {
      font-size: 4.5rem;
    }
    @include respond(500px) {
      padding-top: 5rem;
    }
  }
}

//** FOR MOBILE NAVIGATION **//
.header__text-hide {
  margin-top: 0;
}
