.section-showcase {
  &__title {
    text-align: center;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 6rem;
    color: $col-black;
  }
  &__paragraph {
    text-align: center;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 2rem;
    @include respond(700px) {
      padding: 0 5rem;
    }
  }
}

.showcase {
  margin: 6rem 0 5rem;
  display: flex;
  justify-content: space-between;

  @include respond(700px) {
    flex-direction: column;
    padding: 0 5rem;
  }

  &__image {
    flex-basis: 60%;
    @include respond(1500px) {
      position: relative;
      right: 6rem;
    }
    @include respond(500px) {
      width: 100vw;
      right: 9rem;
    }
  }
  &__iphones {
    width: 100%;
  }
  &__text {
    padding-right: 16rem;
    padding-top: 8rem;
    flex-basis: 50%;
    @include respond(1500px) {
      padding-right: 10rem;
    }
    @include respond(1100px) {
      padding-top: 2rem;
    }
    @include respond(1000px) {
      padding-right: 5rem;
    }
    @include respond(700px) {
      padding-right: 0;
    }
  }

  &__title {
    font-family: $font-primary;
    font-size: 5rem;
    font-weight: 700;
    color: $col-black;
    margin-left: 7rem;

    @include respond(1580px) {
      font-size: 4.5rem;
    }
    @include respond(1200px) {
      margin-left: 0;
    }
    @include respond(700px) {
      text-align: center;
    }
  }

  &__subtitle {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 5rem;
    color: $col-primary-1;
    margin-bottom: 5rem;
    margin-left: 7rem;
    @include respond(1580px) {
      font-size: 4.5rem;
    }
    @include respond(1200px) {
      margin-left: 0;
    }
    @include respond(700px) {
      text-align: center;
    }
  }

  &__plan {
    &__text {
      font-family: $font-secondary;
      color: $col-black;
      margin: 0 4rem 4rem 7rem;
    }

    &__title {
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
    }

    &__paragraph {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 1.4;

      @include respond(800px) {
        font-size: 2rem;
      }
    }

    &__icon {
      float: left;
      position: relative;
      top: 2.3rem;
      width: 4rem;
    }
  }

  &__btn-container {
    margin-left: 7rem;
  }
}
