*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  // defines 1rem=10px
  scroll-behavior: smooth;
  @include respond(1370px) {
    font-size: 60%;
  }
  @include respond(1270px) {
    font-size: 55%;
  }
  @include respond(1100px) {
    font-size: 50%;
  }
  @include respond(900px) {
    font-size: 45%;
  }
  @include respond(800px) {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
}

hr {
  width: 5rem;
  background-color: $col-primary-1;
  margin: auto;
  height: 4px;
  border: none;
  border-radius: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
